absl-py==0.15.0
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
audioread==2.1.9
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
clang==5.0
cloudpickle==2.0.0
crepe==0.0.12
cryptography==36.0.0
cycler==0.11.0
dawdreamer==0.5.8.2
deap==1.3.1
decorator==5.1.1
dm-tree==0.1.6
flatbuffers==1.12
fonttools==4.30.0
gast==0.4.0
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.1.0
hmmlearn==0.2.7
humanize==4.0.0
idna==3.3
imageio==2.16.1
importlib-metadata==4.8.1
intel-openmp==2022.0.0
joblib==1.1.0
keras==2.8.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.0
libclang==13.0.0
librosa==0.9.1
llvmlite==0.38.0
Markdown==3.3.4
matplotlib==3.5.1
mkl==2022.0.0
mkl-service==2.4.0
munkres==1.1.4
nflows==0.14
numba==0.55.1
numpy==1.21.5
oauthlib==3.1.1
olefile==0.46
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pickle5==0.0.12
Pillow==8.4.0
pip==21.3
pooch==1.6.0
protobuf==3.19.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
setuptools==58.2.0
six==1.16.0
SoundFile==0.10.3.post1
tbb==2021.5.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.0
tensorflow-estimator==1.14.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-probability==0.15.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
torch==1.11.0
torchinfo==1.6.5
tqdm==4.62.3
typing_extensions==4.1.1
unicodedata2==14.0.0
urllib3==1.26.9
Werkzeug==2.0.2
wheel==0.37.0
wrapt==1.12.1
zipp==3.6.0
